accelerate==1.10.0
datasets==4.0.0
evaluate==0.4.6
huggingface_hub==0.34.4
matplotlib==3.11.1
numpy==2.4.6
opencv_python
pandas==3.0.3
peft==0.17.1
Pillow==12.3.0
psutil==7.2.2
python-dotenv==1.2.2
qwen_vl_utils==0.0.14
ray==2.55.1
Requests==2.34.2
rouge_score==0.1.2
scikit_learn==1.9.0
tabulate==0.9.0
torch==2.4.0
tqdm==4.67.1
transformers==4.53.3
# flash-attn==2.6.1